ccxt==4.4.1
eth_abi==5.1.0
eth_utils==5.0.0
gymnasium==0.29.1
matplotlib==3.9.2
# numba==0.60.0
numpy==1.26.4
pandas==2.2.3
python-dotenv==1.0.1
pytz==2024.1
Requests==2.32.3
scikit_learn==1.5.2
scikit_optimize==0.10.2
seaborn==0.13.2
shap==0.46.0
stable_baselines3==2.3.2
ta==0.11.0
tabulate==0.9.0
web3==7.2.0
websocket_client==1.8.0
bayesian-optimization==1.5.1